In [51]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import GaussianNB

In [52]:
import pandas
disaster_tweets = pandas.read_csv("../data/train.csv")
disaster_tweets.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [53]:
disaster_tweets.shape

(7613, 5)

# 1. Cleaning et preparation du texte

## 1.1 Tokenisation

In [54]:
print(disaster_tweets.loc[2]['text'])

All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected

In [55]:
import nltk
import re
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

table = str.maketrans('', '', string.punctuation)

def tokenizer(df):
    df['text_tokenized'] = df['text'].apply(lambda text: str(text).lower())
    df['text_tokenized'] = df['text_tokenized'].str.replace("\r", " ")
    df['text_tokenized'] = df['text_tokenized'].str.replace("\n", " ")
    df['text_tokenized'] = df['text_tokenized'].apply(lambda text: re.split(r'\W+', text)) 
    df['text_tokenized'] = df['text_tokenized'].apply(lambda words: [w.translate(table) for w in words]) 

tokenizer(disaster_tweets)
print(disaster_tweets.loc[2]['text_tokenized'])

['all', 'residents', 'asked', 'to', 'shelter', 'in', 'place', 'are', 'being', 'notified', 'by', 'officers', 'no', 'other', 'evacuation', 'or', 'shelter', 'in', 'place', 'orders', 'are', 'expected']

## 1.2 Stop words

In [56]:
def remove_stopwords(text):
    words = [w for w in text if w not in stopwords.words('english')]
    return words

disaster_tweets['text_tokenized_no_stopwords'] = disaster_tweets['text_tokenized'].apply(lambda x: remove_stopwords(x))
print(disaster_tweets.loc[2]['text_tokenized_no_stopwords'])

['residents', 'asked', 'shelter', 'place', 'notified', 'officers', 'evacuation', 'shelter', 'place', 'orders', 'expected']

## 1.3 Lemmatization

In [57]:
from nltk.stem import WordNetLemmatizer

wnl = WordNetLemmatizer()

def lemmatize_text(text):
    return [wnl.lemmatize(word, pos='v') for word in text]

disaster_tweets['text_lemmatized'] = disaster_tweets['text_tokenized_no_stopwords'].apply(lambda x: lemmatize_text(x))
disaster_tweets["text_lemmatized"] = disaster_tweets["text_lemmatized"].apply(lambda x: " ".join(x))
print(disaster_tweets.loc[2]['text_lemmatized'])

residents ask shelter place notify officer evacuation shelter place order expect

In [58]:

tfidf_vectorizer = TfidfVectorizer()
tfidf_vector = tfidf_vectorizer.fit_transform(disaster_tweets["text_lemmatized"])

tfidf_vectorizer.vocabulary_

{'deeds': 4988,
 'reason': 14274,
 'earthquake': 5766,
 'may': 11018,
 'allah': 1773,
 'forgive': 6888,
 'us': 17843,
 'forest': 6882,
 'fire': 6706,
 'near': 11951,
 'la': 10065,
 'ronge': 14773,
 'sask': 15096,
 'canada': 3536,
 'residents': 14482,
 'ask': 2194,
 'shelter': 15448,
 'place': 13334,
 'notify': 12236,
 'officer': 12496,
 'evacuation': 6257,
 'order': 12722,
 'expect': 6346,
 '13': 176,
 '000': 1,
 'people': 13133,
 'receive': 14291,
 'wildfires': 18606,
 'california': 3497,
 'get': 7323,
 'send': 15306,
 'photo': 13239,
 'ruby': 14882,
 'alaska': 1724,
 'smoke': 15754,
 'pour': 13513,
 'school': 15176,
 'rockyfire': 14728,
 'update': 17797,
 'hwy': 8464,
 '20': 343,
 'close': 4082,
 'directions': 5273,
 'due': 5641,
 'lake': 10089,
 'county': 4473,
 'cafire': 3470,
 'flood': 6795,
 'disaster': 5290,
 'heavy': 8026,
 'rain': 14150,
 'cause': 3684,
 'flash': 6765,
 'streets': 16250,
 'manitou': 10873,
 'colorado': 4209,
 'spring': 16019,
 'areas': 2090,
 'top': 17176,
 'hill': 8150,
 'see': 15269,
 'woods': 18741,
 'emergency': 5987,
 'happen': 7889,
 'build': 3327,
 'across': 1494,
 'street': 16247,
 'afraid': 1595,
 'tornado': 17186,
 'come': 4227,
 'area': 2088,
 'three': 16975,
 'die': 5231,
 'heat': 8022,
 'wave': 18409,
 'far': 6511,
 'haha': 7826,
 'south': 15911,
 'tampa': 16599,
 'hah': 7825,
 'wait': 18331,
 'second': 15257,
 'live': 10447,
 'gonna': 7506,
 'fvck': 7106,
 'florida': 6803,
 'tampabay': 16600,
 '18': 232,
 '19': 245,
 'days': 4901,
 'lose': 10581,
 'count': 4466,
 'bago': 2487,
 'myanmar': 11765,
 'arrive': 2136,
 'damage': 4799,
 'bus': 3368,
 '80': 1118,
 'multi': 11689,
 'car': 3587,
 'crash': 4525,
 'break': 3178,
 'man': 10855,
 'love': 10598,
 'fruit': 7043,
 'summer': 16351,
 'lovely': 10601,
 'fast': 6528,
 'goooooooaaaaaal': 7524,
 'ridiculous': 14613,
 'london': 10540,
 'cool': 4401,
 'ski': 15648,
 'wonderful': 18730,
 'day': 4900,
 'looooool': 10559,
 'way': 18410,
 'eat': 5782,
 'shit': 15473,
 'nyc': 12349,
 'last': 10144,
 'week': 18479,
 'girlfriend': 7399,
 'cooool': 4404,
 'like': 10388,
 'pasta': 13018,
 'end': 6047,
 'bbcmtd': 2614,
 'wholesale': 18578,
 'market': 10927,
 'ablaze': 1416,
 'http': 8377,
 'co': 4131,
 'lhyxeohy6c': 10339,
 'always': 1827,
 'try': 17406,
 'bring': 3226,
 'metal': 11177,
 'rt': 14864,
 'yao1e0xngw': 19121,
 'africanbaze': 1599,
 'news': 12017,
 'nigeria': 12076,
 'flag': 6759,
 'set': 15352,
 'aba': 1390,
 '2nndbgwyei': 482,
 'cry': 4609,
 'plus': 13388,
 'side': 15524,
 'look': 10556,
 'sky': 15664,
 'night': 12082,
 'qqsmshaj3n': 13987,
 'phdsquares': 13216,
 'mufc': 11677,
 'much': 11671,
 'hype': 8479,
 'around': 2129,
 'new': 12003,
 'acquisitions': 1491,
 'doubt': 5508,
 'epl': 6136,
 'season': 15245,
 'inec': 8835,
 'office': 12494,
 'abia': 1413,
 '3imaomknna': 615,
 'barbados': 2539,
 'bridgetown': 3213,
 'jamaica': 9208,
 'ûò': 19572,
 'two': 17501,
 'cars': 3634,
 'santa': 15080,
 'cruz': 4608,
 'ûó': 19576,
 'head': 7993,
 'st': 16078,
 'elizabeth': 5952,
 'police': 13435,
 'superintende': 16387,
 'wdueaj8q4j': 18439,
 'lord': 10568,
 'check': 3843,
 'roi2nsmejj': 14744,
 '3tj8zjin21': 647,
 'yduixefipe': 19143,
 'lxtjc87kls': 10696,
 'nsfw': 12285,
 'outside': 12807,
 'alive': 1771,
 'dead': 4929,
 'inside': 8902,
 'awesome': 2376,
 'time': 17033,
 'visit': 18167,
 'cfc': 3763,
 'ancop': 1895,
 'site': 15610,
 'thank': 16828,
 'tita': 17059,
 'vida': 18111,
 'take': 16578,
 'care': 3598,
 'soooo': 15880,
 'pump': 13805,
 'southridgelife': 15920,
 'want': 18354,
 'chicago': 3875,
 'preach': 13562,
 'hotel': 8320,
 'o9qknbfofx': 12401,
 'gain': 7185,
 'followers': 6847,
 'know': 9912,
 'stats': 16138,
 'grow': 7660,
 'tiyulif5c6': 17070,
 'west': 18506,
 'burn': 3358,
 'thousands': 16962,
 'alone': 1802,
 'vl5tbr3wbr': 18192,
 'perfect': 13139,
 'tracklist': 17252,
 'life': 10363,
 'leave': 10231,
 'first': 6726,
 'retainers': 14518,
 'quite': 14035,
 'weird': 18488,
 'better': 2784,
 'use': 17863,
 'wear': 18456,
 'every': 6276,
 'single': 15581,
 'next': 12035,
 'year': 19149,
 'least': 10229,
 'deputies': 5098,
 'shoot': 15485,
 'brighton': 3222,
 'home': 8243,
 'gwnrhmso8k': 7759,
 'wife': 18599,
 'six': 15617,
 'years': 19150,
 'jail': 9197,
 'niece': 12072,
 'ev1ahoucza': 6251,
 'superintendent': 16388,
 'lanford': 10120,
 'salmon': 15033,
 'vplr5hka2u': 18242,
 'sxhw2tnnlf': 16496,
 'arsonist': 2142,
 'deliberately': 5033,
 'black': 2928,
 'church': 3959,
 'north': 12205,
 'carolinaåêablaze': 3626,
 'pcxarbh9an': 13083,
 'noches': 12165,
 'el': 5909,
 'bestia': 2773,
 'alexissanchez': 1753,
 'happy': 7893,
 'teammates': 16696,
 'train': 17271,
 'hard': 7901,
 'goodnight': 7515,
 'gunners': 7731,
 'uc4j4jhvgr': 17587,
 'kurds': 9997,
 'trample': 17276,
 'turkmen': 17456,
 'later': 10151,
 'others': 12772,
 'vandalize': 17988,
 'offices': 12497,
 'front': 7034,
 'diyala': 5369,
 '4izfdyc3cg': 745,
 'truck': 17388,
 'r21': 14090,
 'voortrekker': 18232,
 'ave': 2347,
 'tambo': 16596,
 'intl': 8978,
 'cargo': 3608,
 'section': 15262,
 '8kscqkfkkf': 1183,
 'hearts': 8020,
 'city': 3995,
 'gift': 7379,
 'skyline': 15669,
 'kiss': 9853,
 'upon': 17806,
 'lips': 10421,
 'https': 8378,
 'cyompz1a0z': 4736,
 'tonight': 17157,
 'los': 10577,
 'angeles': 1912,
 'ig': 8621,
 'fb': 6557,
 'fill': 6677,
 'sunset': 16377,
 'shots': 15495,
 'peep': 13114,
 'icsjgz9te1': 8568,
 'climate': 4066,
 'energy': 6060,
 '9fxmn0l0bd': 1282,
 'revel': 14539,
 'wmv': 18701,
 'videos': 18115,
 'mean': 11071,
 'mac': 10770,
 'farewell': 6513,
 'en': 6034,
 'route': 14816,
 'dvd': 5684,
 'gtxrwm': 7692,
 'progressive': 13684,
 'greet': 7622,
 'month': 11523,
 'students': 16284,
 'would': 18776,
 'pen': 13120,
 'torch': 17183,
 'publications': 13784,
 '9fxpixqujt': 1283,
 'rene': 14425,
 'amp': 1871,
 'jacinta': 9174,
 'secret': 15259,
 '2k13': 468,
 'fall': 6479,
 'edit': 5823,
 'mar': 10897,
 '30': 521,
 '2013': 359,
 '7mlmsuzv1z': 1089,
 'navista7': 11905,
 'steve': 16172,
 'something': 15852,
 'else': 5963,
 'tinderbox': 17046,
 'clown': 4094,
 'hood': 8278,
 'news24680': 12018,
 'nowplaying': 12253,
 'ian': 8530,
 'buff': 3320,
 'magnitude': 10812,
 'av2jsjfftc': 2342,
 'edm': 5829,
 'nxwestmidlands': 12342,
 'huge': 8394,
 'rwzbfvnxer': 14934,
 'talk': 16590,
 'go': 7475,
 'make': 10835,
 'work': 18747,
 'kid': 9800,
 'cuz': 4698,
 'bicycle': 2825,
 'accident': 1455,
 'split': 15995,
 'testicles': 16788,
 'impossible': 8750,
 'michael': 11234,
 'father': 6540,
 '24': 403,
 'nashvilletraffic': 11873,
 'traffic': 17262,
 'move': 11602,
 '8m': 1188,
 'slower': 15719,
 'usual': 17876,
 '0ghk693egj': 49,
 'center': 3744,
 'lane': 10118,
 'block': 2977,
 'santaclara': 15081,
 '101': 123,
 'nb': 11911,
 'great': 7605,
 'america': 1852,
 'pkwy': 13331,
 'bayarea': 2601,
 'pmlohzurwr': 13401,
 'gkye6gjtk5': 7418,
 'personalinjury': 13165,
 'read': 14247,
 'advice': 1563,
 'solicitor': 15838,
 'help': 8062,
 'otleyhour': 12774,
 'stlouis': 16195,
 'caraccidentlawyer': 3590,
 'speed': 15969,
 'among': 1869,
 'teen': 16721,
 'accidents': 1459,
 'k4zomof319': 9603,
 's2kxvm0cba': 14959,
 'tee': 16719,
 'report': 14446,
 'motor': 11585,
 'vehicle': 18038,
 'curry': 4679,
 'herman': 8077,
 'rd': 14233,
 'stephenson': 16165,
 'involve': 9002,
 'overturn': 12835,
 'please': 13367,
 'ybjezkurw1': 19132,
 'bigrigradio': 2842,
 'awareness': 2373,
 '77': 1046,
 'mile': 11281,
 'marker': 10926,
 '31': 539,
 'mooresville': 11535,
 'iredell': 9042,
 'ramp': 14167,
 'pm': 13392,
 'sleepjunkies': 15696,
 'sleep': 15694,
 'pills': 13280,
 'double': 5505,
 'risk': 14643,
 '7s9nm1fict': 1105,
 'gon': 7504,
 'ysxun5vceh': 19282,
 'cabrillo': 3457,
 'magellan': 10800,
 'av': 2341,
 'mir': 11344,
 '08': 27,
 '06': 21,
 '15': 195,
 '11': 143,
 '03': 12,
 '58': 832,
 '40': 666,
 'congestion': 4325,
 'pastor': 13020,
 'scene': 15165,
 'owner': 12848,
 'range': 14178,
 'rover': 14821,
 'mom': 11492,
 'wish': 18660,
 'spill': 15983,
 'mayonnaise': 11024,
 'horrible': 8302,
 'past': 13017,
 'sunday': 16368,
 'finally': 6686,
 'able': 1417,
 'god': 7484,
 'piss': 13304,
 'donnie': 5472,
 'tell': 16736,
 'another': 1956,
 'truckcrash': 17389,
 'fortworth': 6906,
 'interstate': 8972,
 'rs22lj4qfp': 14851,
 'click': 4060,
 'gt': 7682,
 'ld0uniyw4k': 10205,
 'ashville': 2187,
 '23': 394,
 'sb': 15134,
 'sr': 16055,
 '752': 1042,
 'hylmo0wgfi': 8478,
 'carolina': 3624,
 'motorcyclist': 11588,
 '540': 819,
 'cross': 4586,
 'median': 11089,
 'motorcycle': 11587,
 'rider': 14610,
 'travel': 17299,
 'p18lzrlmy6': 12867,
 'fyi': 7135,
 'cad': 3462,
 'property': 13709,
 'nhs': 12054,
 '999': 1265,
 'piner': 13284,
 'horndale': 8295,
 'dr': 5536,
 'naayf': 11830,
 'turn': 17457,
 'onto': 12644,
 'chandanee': 3797,
 'magu': 10817,
 'mma': 11430,
 'taxi': 16637,
 'ram': 14164,
 'halfway': 7848,
 'everyone': 6280,
 'conf': 4315,
 'manchester': 10860,
 '293': 432,
 'eddy': 5815,
 'stop': 16209,
 'back': 2457,
 'nh': 12049,
 '3a': 588,
 'delay': 5029,
 'mins': 11334,
 'oia5fxi4gm': 12544,
 'wpd': 18786,
 '1600': 211,
 '17th': 230,
 '2015': 361,
 '09': 33,
 'injury': 8881,
 '2781': 422,
 'willis': 18619,
 'foreman': 6880,
 'vckit6edev': 18020,
 'aashiqui': 1385,
 'actress': 1509,
 'anu': 1978,
 'aggarwal': 1628,
 'fatal': 6533,
 '6otfp31lqw': 985,
 'suffield': 16337,
 'alberta': 1730,
 'bptmlf4p10': 3138,
 'backup': 2464,
 'right': 14618,
 'lanes': 10119,
 'exit': 6335,
 'langtree': 10123,
 'consider': 4347,
 'nc': 11928,
 '115': 150,
 '150': 196,
 '16': 209,
 'alternate': 1818,
 'change': 3799,
 'determine': 5148,
 'options': 12698,
 'financially': 6689,
 'support': 16400,
 'plan': 13337,
 'treatment': 17309,
 'deadly': 4934,
 'hagerstown': 7824,
 'today': 17118,
 'detail': 5144,
 'your4state': 19249,
 'whag': 18539,
 'flowri': 6810,
 'marinade': 10919,
 'even': 6266,
 'fuck': 7062,
 'mfs': 11211,
 'drive': 5576,
 'norwaymfa': 12218,
 'bahrain': 2489,
 'previously': 13624,
 'road': 14689,
 'kill': 9818,
 'explosion': 6365,
 'gfjfgtodad': 7336,
 'still': 16189,
 'hear': 8008,
 'leaders': 10218,
 'kenya': 9743,
 'forward': 6907,
 'comment': 4241,
 'issue': 9086,
 'disciplinary': 5293,
 'measure': 11075,
 'arrestpastornganga': 2134,
 'aftershockdelo': 1612,
 'scuf': 15220,
 'ps': 13745,
 'game': 7200,
 'cya': 4722,
 'effort': 5863,
 'painful': 12917,
 'win': 18625,
 'roger': 14736,
 'bannister': 2528,
 '320': 545,
 'ir': 9033,
 'icemoon': 8558,
 'aftershock': 1611,
 'ynxnvvkcda': 19221,
 'djicemoon': 5376,
 'dubstep': 5633,
 'trapmusic': 17295,
 'dnb': 5422,
 'dance': 4816,
 'ice': 8555,
 'weqpesenku': 18502,
 'victory': 18109,
 'bargain': 2551,
 'basement': 2570,
 'price': 13626,
 'dwight': 5694,
 'david': 4881,
 'eisenhower': 5896,
 'vam5podgyw': 17982,
 'zevakjapcz': 19396,
 'nobody': 12164,
 'remember': 14407,
 'charles': 3818,
 'schulz': 15178,
 'im': 8705,
 'speak': 15945,
 'someone': 15849,
 'xb1': 18938,
 'also': 1814,
 'harder': 7907,
 'conflict': 4322,
 'glorious': 7447,
 'triumph': 17357,
 'thomas': 16950,
 'paine': 12916,
 'growingupspoiled': 7663,
 'clay': 4038,
 'pigeon': 13269,
 'guess': 7705,
 'one': 12621,
 'actually': 1511,
 'free': 6980,
 'tc': 16662,
 'terrify': 16776,
 'best': 2770,
 'roller': 14752,
 'coaster': 4141,
 'ever': 6271,
 'disclaimer': 5294,
 'xmwodfmtui': 18991,
 'm4jdzmgjow': 10739,
 'n0uhasfkbv': 11800,
 'e14epzhoth': 5724,
 '22a9d5do6q': 390,
 'kjfordays': 9862,
 'thyzomvwu0': 17009,
 '83joo0xk29': 1137,
 'wisdomwed': 18657,
 'bonus': 3070,
 'minute': 11339,
 'daily': 4783,
 'habit': 7820,
 'could': 4458,
 'really': 14268,
 'improve': 8755,
 'many': 10890,
 'already': 1810,
 'lifehack': 10366,
 'tbm9fqb8cw': 16654,
 'protect': 13722,
 'profit': 13678,
 'global': 7439,
 'financial': 6688,
 'meltdown': 11128,
 'wiedemer': 18597,
 'wztz4hgmvq': 18899,
 'moment': 11493,
 'scary': 15159,
 'guy': 7746,
 'behind': 2706,
 'scream': 15207,
 'bloody': 2987,
 'murder': 11705,
 'silverwood': 15559,
 '2010': 356,
 'full': 7077,
 'stream': 16244,
 'youtube': 19254,
 'vve3usesgf': 18272,
 'book': 3072,
 'f6ntuc734z': 6429,
 'esquireattire': 6196,
 'sometimes': 15853,
 'face': 6445,
 'difficulties': 5244,
 'wrong': 18828,
 'joel': 9409,
 'osteen': 12762,
 'thing': 16929,
 'stand': 16100,
 'dream': 5559,
 'belief': 2718,
 'possible': 13494,
 'brown': 3266,
 'praise': 13553,
 'ministry': 11328,
 'wdyouth': 18443,
 'biblestudy': 2820,
 'ujk0e5gbcc': 17638,
 'avoid': 2357,
 'trap': 17293,
 'think': 16932,
 'job': 9400,
 'orange': 12710,
 'never': 12000,
 'onfireanders': 12628,
 'bb': 2605,
 'jv8ppkhjy7': 9562,
 'kick': 9799,
 'say': 15129,
 'cannot': 3554,
 'do': 5428,
 'interrupt': 8967,
 'george': 7306,
 'bernard': 2763,
 'shaw': 15433,
 'oyster': 12858,
 'shell': 15446,
 'andrew': 1901,
 'carnegie': 3622,
 'anyone': 1986,
 'need': 11960,
 'play': 13352,
 'hybrid': 8475,
 'slayer': 15692,
 'ps4': 13749,
 'eu': 6234,
 'hmu': 8208,
 'cod8sandscrims': 4156,
 'empirikgaming': 6017,
 'codawscrims': 4157,
 '4tpkotc': 777,
 '4tpfa': 776,
 'aftershockorg': 1613,
 'experts': 6353,
 'france': 6962,
 'begin': 2697,
 'examine': 6302,
 'airplane': 1676,
 'debris': 4955,
 'find': 6692,
 'reunion': 14531,
 'island': 9078,
 'french': 7004,
 'air': 1668,
 'yvvpznzmxg': 19306,
 'strict': 16258,
 'liability': 10341,
 'context': 4373,
 'pilot': 13281,
 'error': 6173,
 'common': 4252,
 'component': 4285,
 'aviation': 2354,
 'cr': 4510,
 '6cz3bohrd4': 953,
 'crobscarla': 4581,
 'lifetime': 10372,
 'odds': 12463,
 '8015': 1122,
 'wedn': 18470,
 'bkpfpogysi': 2922,
 'alexalltimelow': 1746,
 'awwww': 2387,
 'cuties': 4693,
 'good': 7507,
 'family': 6490,
 'members': 11130,
 'osama': 12751,
 'bin': 2869,
 'lade': 10076,
 'ironic': 9052,
 'mhmmm': 11227,
 'gov': 7544,
 'suspect': 16437,
 'engine': 6064,
 'tyjxrfd3st': 17526,
 'via': 18088,
 'wing': 18641,
 '29': 430,
 '07': 25,
 'i7kztevb2v': 8515,
 'cessna': 3759,
 'ocampo': 12441,
 'coahuila': 4135,
 'mexico': 11199,
 'july': 9532,
 'four': 6917,
 'men': 11140,
 'include': 8784,
 'state': 16131,
 'government': 7547,
 'official': 12498,
 'watchthevideo': 18394,
 'p64xrvgjik': 12883,
 'lsmx2vwr3j': 10629,
 'wednesday': 18473,
 'kca': 9696,
 'votejkt48id': 18236,
 'mbataweel': 11032,
 'rip': 14636,
 'binladen': 2873,
 'almost': 1798,
 'coworker': 4492,
 'nudes': 12303,
 'mode': 11459,
 'mickinyman': 11245,
 'theatlantic': 16848,
 'might': 11270,
 'wreck': 18811,
 'politics': 13447,
 'tagzbcxfj0': 16569,
 'mlb': 11421,
 'unbelievably': 17680,
 'insane': 8897,
 'airport': 1678,
 'aircraft': 1671,
 'aeroplane': 1572,
 'runway': 14907,
 'freaky': 6975,
 'cezhq7czll': 3761,
 'airplaneåê': 1677,
 'wq3wjsgphl': 18797,
 'tfcdronra6': 16806,
 'usama': 17853,
 'ladins': 10078,
 'naturally': 11897,
 'plane': 13338,
 'festival': 6629,
 'kq9ae6ap2b': 9956,
 'death': 4946,
 'carfest': 3606,
 'gibyqhhkpk': 7373,
 'dtn': 5622,
 'brazil': 3169,
 'exp': 6340,
 'm9ig3wq8lq': 10759,
 'v4smaeslk5': 17942,
 'ûïairplane': 19549,
 'wtf': 18843,
 'ûªt': 19544,
 'believe': 2720,
 'eye': 6400,
 '6ffylajwps': 960,
 'nicole': 12070,
 'fletcher': 6784,
 'victim': 18101,
 'ago': 1636,
 'little': 10442,
 'bite': 2896,
 'trauma': 17297,
 'although': 1821,
 'omg': 12612,
 'xdxdprcpns': 18953,
 'bro': 3241,
 'jetengine': 9323,
 'turbojet': 17452,
 'boing': 3046,
 'g90': 7168,
 'kxxnszp6nk': 10020,
 'phone': 13238,
 'ship': 15467,
 'terrible': 16774,
 'statistically': 16137,
 'cop': 4408,
 'house': 8328,
 'colombia': 4204,
 '12': 156,
 'zhjlflbhzl': 19408,
 'iecc1jdoub': 8606,
 'drone': 5588,
 'worry': 18765,
 'esp': 6190,
 'vicinity': 18096,
 'airports': 1679,
 'kz35rgngjf': 10030,
 'early': 5757,
 'wake': 18333,
 'call': 3501,
 'sister': 15607,
 'beg': 2695,
 'ride': 14609,
 'ambulance': 1844,
 'hospital': 8310,
 'rodkiai': 14732,
 'ay6zzcupnz': 2396,
 'twelve': 17483,
 'fear': 6585,
 'pakistani': 12925,
 'helicopter': 8048,
 'sc9dns41mc': 15146,
 'ambulances': 1845,
 'serious': 15341,
 'lorry': 10576,
 '9pfeaqeski': 1315,
 'fntg70rnkx': 6832,
 'emsne': 6027,
 'reuters': 14535,
 'mdnugvubwn': 11065,
 'yugvani': 19290,
 'lead': 10216,
 'service': 15347,
 'boss': 3097,
 'welcome': 18490,
 'charity': 3817,
 'mj2jq2psv6': 11401,
 'aberystwyth': 1410,
 'shrewsbury': 15507,
 'incident': 8777,
 'halt': 7854,
 'shrews': 15506,
 'xum8ylcb4q': 19034,
 'sprinter': 16022,
 'automatic': 2336,
 'frontline': 7036,
 'choice': 3910,
 '14': 184,
 'lez': 10317,
 'compliant': 4283,
 'ebay': 5788,
 '4evttqpeia': 731,
 'nanotech': 11852,
 'device': 5169,
 'target': 16620,
 'destroy': 5139,
 'blood': 2984,
 'clot': 4088,
 'hfy5v3slbb': 8101,
 '20skyhawkmm20': 378,
 'traplord29': 17294,
 'fredosantana300': 6979,
 'lilreese300': 10397,
 'hella': 8052,
 'crazy': 4533,
 'fight': 6667,
 'couple': 4475,
 'mosh': 11569,
 'pit': 13305,
 'run': 14898,
 'lucky': 10651,
 'justsaying': 9560,
 'randomthought': 14173,
 'bfes5twbzt': 2795,
 'tilnow': 17029,
 'dna': 5421,
 '7xglah10zl': 1112,
 'thmblaatzp': 16946,
 'tanslash': 16608,
 'fouseytube': 6921,
 'ok': 12560,
 'hahahah': 7829,
 'zsberqnn9n': 19480,
 'q8ivrzojzv': 13903,
 'pakistan': 12924,
 'nine': 12096,
 '8e7ry8ebmf': 1162,
 'thenissonian': 16892,
 'rejectdcartoons': 14380,
 'nissan': 12102,
 'medical': 11092,
 'assistance': 2220,
 'ems1': 6025,
 'ny': 12343,
 'emts': 6028,
 'petition': 13188,
 '17': 219,
 'per': 13136,
 'hour': 8326,
 'minimum': 11324,
 'wage': 18325,
 'ûª': 19535,
 '4oa6swlxmr': 758,
 'ems': 6024,
 'paramedics': 12977,
 'fcqmkffflw': 6569,
 'vayaymbngu': 18008,
 '3brme6sn4t': 593,
 'ujrx9kgawp': 17640,
 'kp2lf4aute': 9947,
 'kiwikaryn': 9860,
 'park': 12989,
 'lot': 10586,
 'johns': 9425,
 'hpvodud7ip': 8341,
 'lt': 10634,
 'shzpyiqok5': 15517,
 'pwwpum6rbj': 13859,
 'yspon4d6qo': 19280,
 'ûï': 19546,
 'leoblakecarter': 10286,
 'dog': 5444,
 'mg1lpgr0rm': 11214,
 ...}

In [59]:
tfidf_vector.shape

(7613, 19582)

# 2. Modèle

## 2.1 Split en train et test

In [60]:
X = tfidf_vector
Y = disaster_tweets['target']

In [61]:
X.shape

(7613, 19582)

In [22]:
Y.shape

(7613,)

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X.todense(), Y)

In [24]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

from sklearn.naive_bayes import GaussianNB

In [25]:
def summarize_classification(y_test, y_pred):

    acc = accuracy_score(y_test, y_pred, normalize=True)
    num_acc = accuracy_score(y_test, y_pred, normalize=False)
    prec = precision_score(y_test, y_pred, average='weighted')
    recall = recall_score(y_test, y_pred, average='weighted')
    
    print("Length of testing data: ", len(y_test))
    print("accuracy_count : " , num_acc)
    print("accuracy_score : " , acc)
    print("precision_score : " , prec)
    print("recall_score : ", recall)

In [26]:
clf = GaussianNB().fit(X_train, y_train)

In [45]:
X_test.shape

(1904, 19582)

In [27]:
y_pred = clf.predict(X_test)
y_pred

array([1, 1, 0, ..., 1, 1, 0])

In [28]:
summarize_classification(y_test,y_pred)

Length of testing data:  1904
accuracy_count :  1171
accuracy_score :  0.6150210084033614
precision_score :  0.64790435798662
recall_score :  0.6150210084033614

In [29]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[527, 537],
       [196, 644]])

In [30]:
pred_results = pd.DataFrame({'y_test': pd.Series(y_test),
                             'y_pred': pd.Series(y_pred)})

pred_results.sample(20)

      y_test  y_pred
1303     NaN     1.0
1095     1.0     1.0
252      NaN     1.0
1741     1.0     1.0
6820     0.0     NaN
1620     1.0     1.0
1805     NaN     1.0
623      NaN     1.0
4608     0.0     NaN
947      NaN     1.0
3425     0.0     NaN
1187     NaN     0.0
1176     NaN     1.0
5403     0.0     NaN
1423     NaN     1.0
7396     1.0     NaN
4840     1.0     NaN
2502     0.0     NaN
4723     0.0     NaN
1879     NaN     1.0

# Generating submission file

In [39]:
submission_example_df = pandas.read_csv("../data/sample_submission.csv")
submission_example_df.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [40]:
test_df = pandas.read_csv("../data/test.csv")
print(test_df.head())
print(test_df.shape)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
(3263, 4)

In [62]:
def prepare_dataframe(df):
    tokenizer(df)
    df['text_prepared'] = df['text_tokenized'].apply(lambda x: remove_stopwords(x))
    df['text_lemmatized'] = df['text_prepared'].apply(lambda x: lemmatize_text(x))
    df['text_lemmatized'] = df['text_prepared'].apply(lambda x: " ".join(x))

prepare_dataframe(test_df)
tfidf_vector_sample = tfidf_vectorizer.transform(test_df["text_lemmatized"])
X_to_submit = tfidf_vector_sample.todense()
X_to_submit.shape

(3263, 19582)

In [63]:
X_to_submit.shape

(3263, 19582)

In [64]:
y_pred_sample = clf.predict(X_to_submit)
y_pred_sample

array([1, 1, 1, ..., 1, 1, 1])

In [65]:
y_pred_sample.shape

(3263,)

In [66]:
submission_sample = test_df["id"]

In [67]:
submission_sample.head

<bound method NDFrame.head of 0           0
1           2
2           3
3           9
4          11
        ...
3258    10861
3259    10865
3260    10868
3261    10874
3262    10875
Name: id, Length: 3263, dtype: int64>

In [83]:
dataset = pd.DataFrame({'target': y_pred_sample})
dataset

      target
0          1
1          1
2          1
3          1
4          1
...      ...
3258       1
3259       1
3260       1
3261       1
3262       1

[3263 rows x 1 columns]

In [84]:
dataset["id"] = test_df["id"]

In [87]:
dataset[["id","target"]].to_csv("../data/submission_1.csv", index=False)